body {
  background-color: #121313;
  color: #E8C7A5;
  font-family: "Manrope", "Raleway", sans-serif;
  margin: 0px;
  padding: 0px;
}
footer {
  text-align: center;
  margin-top: 100px;
}
#Allog {
  height: 15px;
  width: auto;
}
#nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 60px;
  background: rgba(7, 37, 47, 0.666);
  position: fixed;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  right: 0;
}
.BlackPictures{
  filter: invert(1);
}

#nav li {
  flex: 0 0 auto;
}

#nav li:nth-child(2) {
  margin-left: auto;
}

#nav li:nth-child(7) {
  margin-left: auto;
}

#nav a {
  display: block;
  padding: 0px 10px;
  text-decoration: none;
  color: #E8C7A5;
  white-space: nowrap;
  margin: 15px 10px;
}
.Buttons {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.Button {
  text-decoration: none;
  color: white;
  padding: 10px 50px;
  border-radius: 6px;
  font-weight: 600;
}
.offer {
  background-color: #0b7af0;
}
.learn {
  background-color: #fffbfb;
  color: #1d1d1f;
}

#background1 {
  width: 100%;
  height: 600px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("https://raw.githubusercontent.com/MrPerfeccct/Git-tutorial/main/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: white;
  text-align: center;
  font-style: inherit;
}
h1 {
  font-size: 45px;
}
.ExpHeaders {
  margin-top: -10px;
}

h2{
  font-size: 30px;
  text-align: center;
  margin: 90px 0 80px;
  font-weight: 800;
  color:#E8C7A5;
  
}

h3{
  font-size: 22px;
  margin: 0 0 10px 0;
  font-weight: 800;
  color:#E8C7A5;
  text-align: left;
  
}

#About {
  margin-right: 20px;
  margin-left: 20px;
}
#AboutLine2 {
  margin-right: 20px;
  margin-left: 20px;
}

#AboutMe {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 30px;
  margin: 0px 20px;
  text-align: center;
}
#AboutMe2 {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 30px;
  margin: 30px 20px;
  text-align: center;
}
.about-text {
  background-color: rgba(7, 37, 47, 0.765);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  flex: 2;
  box-shadow: inset 5px -5px 5px #e8c7a592,
  7px -5px 5px #e8c7a55a;
}
.Pavel-text,
.Anton-text,
.Ekaterina-text,
.Evgeny-text {
  background-color: rgba(7, 37, 47, 0.765);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  flex: 1 1 250px;
  box-shadow: inset 5px -5px 5px #e8c7a592,
  7px -5px 5px #e8c7a55a;
}
.Pasha {
  margin-top: 60px;
}

#Anton-photo,
#about-photo,
#Pavel-photo,
#Ekaterina-photo,
#Evgeny-photo {
  width: 150px;
  height: auto;
  border-radius: 100px;
  box-shadow: 0px 0px 10px #E8C7A5;
}
#ExpSection {
  background-image: url(https://raw.githubusercontent.com/MrPerfeccct/Git-tutorial/main/new%20back.png);
  height: 750px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start; 
}
.ExpMe{
  width: 65%;
  margin-right: 0;
  margin-bottom: 40px;
  margin-top: 30px;
}
.MainInfo{
  width: 65%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);

}

#Connect {
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
  url(https://raw.githubusercontent.com/MrPerfeccct/Git-tutorial/main/NewBack.png
);
height: 750px;
background-position: center;
overflow: hidden;
display: flex;
flex-direction: column;
  
} 

.ContInfo {
  width: 60%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.SocialMedia {
  text-decoration: none;
  background-color: #E8C7A5;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: 600;
  box-shadow: 5px -5px 5px #d2863583;
  
}

#JustHead {
  width: 60%;
  min-height: 25%;
  margin-top: 350px;
  padding-top: 30px;
  font-size: 80px;
  text-align: center;
}
